NETWORK=testnet
PORT=4000
PYTH_FEED_ID=ENTER_PYTH_FEED_ID
PYTH_API_URL=https://hermes-beta.pyth.network/api
PYTH_CLUSTER=pythnet
HL_TESTNET_URL=https://api.hyperliquid-testnet.xyz
HL_API_KEY=ENTER_HL_TESTNET_KEY
HL_API_SECRET=ENTER_HL_TESTNET_SECRET
HL_MARKET_ID=ENTER_MARKET_ID
HL_DEX_NAME=WARMARKET
HL_ORACLE_ENDPOINT=/exchange
HL_PUBLISH_ENABLED=false
PUBLISH_INTERVAL_MS=3000
MIN_PUBLISH_INTERVAL_MS=10000
PRICE_EPSILON=0.01
STALE_THRESHOLD_MS=10000
